{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div data-elementor-type="wp-page" data-elementor-id="11" class="elementor elementor-11">
    <div class="elementor-element elementor-element-e22649f e-flex e-con-boxed e-con e-parent e-lazyloaded"
        data-id="e22649f" data-element_type="container">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-7655333 e-con-full e-flex e-con e-child"
                data-id="7655333" data-element_type="container">
                <div class="elementor-element elementor-element-46d87ba elementor-widget__width-initial animated-slow elementor-widget elementor-widget-text-editor animated fadeInUp"
                    data-id="46d87ba" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                    data-widget_type="text-editor.default">
                    
                </div>
                <div class="elementor-element elementor-element-22c2502 elementor-widget__width-initial animated-slow elementor-widget elementor-widget-rkit_advanced_heading animated fadeInUp"
                    data-id="22c2502" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:100}"
                    data-widget_type="rkit_advanced_heading.default">
                    <div class="elementor-widget-container">
                        <a>
                            <h1 class="rkit-advanced-heading">

                                <span class="std-text rkit-trp-text"> Trusted Mental Health Care for
                                    <span class="bg-headline">
                                        <span class="headline_text"> Your Well-Being</span>
                                    </span> </span>

                            </h1>
                        </a>


                    </div>
                </div>
                <div class="elementor-element elementor-element-fcee793 elementor-widget__width-initial animated-slow elementor-widget elementor-widget-text-editor animated fadeInUp"
                    data-id="fcee793" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:100}"
                    data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>At NuraCare, we are dedicated to providing professional care and
                            empathetic support for your mental well-being. Discover personalized and
                            innovative therapy and counseling services to help you live with calm and
                            balance.</p>
                    </div>
                </div>
                
            </div>
            <div class="elementor-element elementor-element-6f374cc e-con-full e-flex e-con e-child"
                data-id="6f374cc" data-element_type="container">
                <div class="elementor-element elementor-element-44ac7fb e-con-full e-flex e-con e-child"
                    data-id="44ac7fb" data-element_type="container">
                    <div class="elementor-element elementor-element-a7b8cd1 e-con-full e-flex e-con e-child"
                        data-id="a7b8cd1" data-element_type="container">
                        <div class="elementor-element elementor-element-a749288 animated-slow elementor-widget elementor-widget-image animated fadeIn"
                            data-id="a749288" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img fetchpriority="high" decoding="async" width="274" height="664"
                                    src="{% static 'imgs/Rectangle-1.png' %}"
                                    class="attachment-full size-full wp-image-162" alt=""
                                    
                                    sizes="(max-width: 274px) 100vw, 274px">
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-4b1cb09 animated-slow elementor-widget elementor-widget-image animated fadeIn"
                            data-id="4b1cb09" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:100}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img decoding="async" width="225" height="524"
                                    src="{% static 'imgs/Rectangle-2.png' %}"
                                    class="attachment-full size-full wp-image-161" alt=""
                                    "
                                    sizes="(max-width: 225px) 100vw, 225px">
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-758bcf3 e-con-full animated-slow e-flex e-con e-child animated fadeInUp"
                        data-id="758bcf3" data-element_type="container"
                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:200}">
                        <div class="elementor-element elementor-element-c30f51f elementor-widget elementor-widget-rkit-counter"
                            data-id="c30f51f" data-element_type="widget"
                            data-widget_type="rkit-counter.default">
                            <div class="elementor-widget-container">
                                <div class="rkit-counter" data-start="0" data-value="100"
                                    data-duration="100" data-step="20"
                                    data-separator="{&quot;thousand_separator&quot;:true,&quot;separator&quot;:&quot;comma&quot;}">
                                    <div class="counter-container">
                                        <div class="counter">
                                            <span class="count">100</span>
                                            <span class="counter-suffix">+</span>
                                        </div>
                                        <span class="counter-title">Satisfied Clients</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-4c3c3f6 e-flex e-con-boxed e-con e-parent e-lazyloaded"
        data-id="4c3c3f6" data-element_type="container"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-2ff73cb e-con-full e-flex e-con e-child"
                data-id="2ff73cb" data-element_type="container">
                <div class="elementor-element elementor-element-22c6328 elementor-widget__width-initial animated-slow elementor-widget elementor-widget-rkit_advanced_heading animated fadeInUp"
                    data-id="22c6328" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                    data-widget_type="rkit_advanced_heading.default">
                    <div class="elementor-widget-container">
                        <a>
                            <h1 class="rkit-advanced-heading">

                                <span class="std-text rkit-trp-text"> Our Journey of <span
                                        class="bg-headline">
                                        <span class="headline_text"> Excellence</span>
                                    </span> </span>

                            </h1>
                        </a>


                    </div>
                </div>
                <div class="elementor-element elementor-element-fec44fe elementor-widget__width-initial animated-slow elementor-widget elementor-widget-text-editor animated fadeInUp"
                    data-id="fec44fe" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:100}"
                    data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>At NuraCare, we strive to provide exceptional care and innovative
                            approaches to mental health. Our achievements reflect our dedication to
                            enhancing the lives of our Clients.</p>
                    </div>
                </div>
                
            </div>
            <div class="elementor-element elementor-element-70b23b2 e-grid e-con-full animated-slow e-con e-child animated fadeInUp"
                data-id="70b23b2" data-element_type="container"
                data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:200}">
                <div class="elementor-element elementor-element-e07faf1 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box"
                    data-id="e07faf1" data-element_type="widget" data-widget_type="image-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-image-box-wrapper">
                            <figure class="elementor-image-box-img"><img loading="lazy" decoding="async"
                                    width="105" height="96" src="{% static 'imgs/Group-3.png' %}"
                                    class="attachment-full size-full wp-image-177" alt=""></figure>
                            <div class="elementor-image-box-content">
                                <h3 class="elementor-image-box-title">2+ Years of Experience</h3>
                                <p class="elementor-image-box-description">	Our team has over two years of guiding
                                    Clients towards mental wellness.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-c96756b elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box"
                    data-id="c96756b" data-element_type="widget" data-widget_type="image-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-image-box-wrapper">
                            <figure class="elementor-image-box-img"><img loading="lazy" decoding="async"
                                    width="116" height="109" src="{% static 'imgs/Group-3-1.png' %}"
                                    class="attachment-full size-full wp-image-176" alt=""></figure>
                            <div class="elementor-image-box-content">
                                <h3 class="elementor-image-box-title">Nationally Recognized</h3>
                                <p class="elementor-image-box-description">Recognized nationally for our commitment
                                    to mental health.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-c03961d elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box"
                    data-id="c03961d" data-element_type="widget" data-widget_type="image-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-image-box-wrapper">
                            <figure class="elementor-image-box-img"><img loading="lazy" decoding="async"
                                    width="93" height="107" src="{% static 'imgs/Group-3-2.png' %}"
                                    class="attachment-full size-full wp-image-175" alt=""></figure>
                            <div class="elementor-image-box-content">
                                <h3 class="elementor-image-box-title">Licensed and Experienced
                                    Therapists</h3>
                                <p class="elementor-image-box-description">Our team of licensed
                                    professionals is committed to providing top-tier care.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-2677e65 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box"
                    data-id="2677e65" data-element_type="widget" data-widget_type="image-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-image-box-wrapper">
                            <figure class="elementor-image-box-img"><img loading="lazy" decoding="async"
                                    width="105" height="96" src="{% static 'imgs/Group-3.png' %}"
                                    class="attachment-full size-full wp-image-177" alt=""></figure>
                            <div class="elementor-image-box-content">
                                <h3 class="elementor-image-box-title">More than 100+ Satisfied
                                    Clients
                                </h3>
                                <p class="elementor-image-box-description">Our personalized care has
                                    transformed the lives of hundreds.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-e6e623f e-flex e-con-boxed e-con e-parent e-lazyloaded"
        data-id="e6e623f" data-element_type="container">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-21f9e7f e-con-full e-flex e-con e-child"
                data-id="21f9e7f" data-element_type="container">
                <div class="elementor-element elementor-element-8443588 animated-slow elementor-widget elementor-widget-rkit_advanced_heading animated fadeInUp"
                    data-id="8443588" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                    data-widget_type="rkit_advanced_heading.default">
                    <div class="elementor-widget-container">
                        <a>
                            <h1 class="rkit-advanced-heading">

                                <span class="std-text rkit-trp-text"> Explore Our <span
                                        class="bg-headline">
                                        <span class="headline_text"> Services</span>
                                    </span> </span>

                            </h1>
                        </a>


                    </div>
                </div>
                <div class="elementor-element elementor-element-883d8a5 elementor-widget__width-initial animated-slow elementor-widget elementor-widget-text-editor animated fadeInUp"
                    data-id="883d8a5" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:100}"
                    data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>Experience comprehensive care tailored to your needs at NuraCare assets/. Our
                            expert therapists and personalized approach ensure you receive the best
                            support for your mental health journey.</p>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-ba598d6 e-grid e-con-full animated-slow e-con e-child animated fadeInUp"
                data-id="ba598d6" data-element_type="container"
                data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:200}">
                <div class="elementor-element elementor-element-b29fdb0 e-con-full e-flex e-con e-child"
                    data-id="b29fdb0" data-element_type="container"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-element elementor-element-ac603d4 elementor-position-left elementor-vertical-align-middle elementor-widget__width-initial elementor-widget elementor-widget-image-box"
                        data-id="ac603d4" data-element_type="widget"
                        data-widget_type="image-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-image-box-wrapper">
                                <figure class="elementor-image-box-img"><img loading="lazy"
                                        decoding="async" width="80" height="80"
                                        src="{% static 'imgs/diversity_1.png' %}"
                                        class="attachment-full size-full wp-image-185" alt=""></figure>
                                <div class="elementor-image-box-content">
                                    <h3 class="elementor-image-box-title">Therapy Options</h3>
                                    <p class="elementor-image-box-description">Discover a variety of
                                        therapy choices crafted to help you navigate life's challenges.
                                        Our therapists work closely with you to create a personalized
                                        approach to your emotional and psychological</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-ee1083e elementor-align-center elementor-widget elementor-widget-elementskit-button"
                        data-id="ee1083e" data-element_type="widget"
                        data-widget_type="elementskit-button.default">
                        
                    </div>
                </div>
                <div class="elementor-element elementor-element-c52ddab e-con-full e-flex e-con e-child"
                    data-id="c52ddab" data-element_type="container"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-element elementor-element-a6beeeb elementor-position-left elementor-vertical-align-middle elementor-widget__width-initial elementor-widget elementor-widget-image-box"
                        data-id="a6beeeb" data-element_type="widget"
                        data-widget_type="image-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-image-box-wrapper">
                                <figure class="elementor-image-box-img"><img loading="lazy"
                                        decoding="async" width="80" height="80"
                                        src="{% static 'imgs/diversity_1-1.png' %}"
                                        class="attachment-full size-full wp-image-184" alt=""></figure>
                                <div class="elementor-image-box-content">
                                    <h3 class="elementor-image-box-title">Specialized Programs</h3>
                                    <p class="elementor-image-box-description">Our focused programs
                                        offer targeted support for specific mental health concerns. Let
                                        us guide you toward better management and understanding.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a99fe39 elementor-align-center elementor-widget elementor-widget-elementskit-button"
                        data-id="a99fe39" data-element_type="widget"
                        data-widget_type="elementskit-button.default">
                        
                    </div>
                </div>
                <div class="elementor-element elementor-element-9eeda12 e-con-full e-flex e-con e-child"
                    data-id="9eeda12" data-element_type="container"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-element elementor-element-76b2aa8 elementor-position-left elementor-vertical-align-middle elementor-widget__width-initial elementor-widget elementor-widget-image-box"
                        data-id="76b2aa8" data-element_type="widget"
                        data-widget_type="image-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-image-box-wrapper">
                                <figure class="elementor-image-box-img"><img loading="lazy"
                                        decoding="async" width="80" height="80"
                                        src="{% static 'imgs/diversity_1-2.png' %}"
                                        class="attachment-full size-full wp-image-183" alt=""></figure>
                                <div class="elementor-image-box-content">
                                    <h3 class="elementor-image-box-title">Psychiatric Services</h3>
                                    <p class="elementor-image-box-description">Our psychiatric services
                                        provide comprehensive care for your mental health needs. Let us
                                        assist you in finding the right path to stability and
                                        well-being.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-c2c9565 elementor-align-center elementor-widget elementor-widget-elementskit-button"
                        data-id="c2c9565" data-element_type="widget"
                        data-widget_type="elementskit-button.default">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>

{% endblock %}