<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NuraCare | Mental Health</title>
    <link rel="stylesheet" id="hfe-widgets-style-css" href="{% static 'css/frontend.css' %}" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Geologica:wght@100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" id="template-kit-export-css" href="{% static 'css/template-kit-export-public.css' %}" media="all">
	<link rel="stylesheet" id="rkit-offcanvas-style-css" href="{% static 'css/offcanvas.css' %}" media="all">
	<link rel="stylesheet" id="rkit-navmenu-style-css" href="{% static 'css/navmenu.css' %}" media="all">
	<link rel="stylesheet" id="rkit-headerinfo-style-css" href="{% static 'css/headerinfo.css' %}" media="all">
	<link rel="stylesheet" id="navmenu-rkit-style-css" href="{% static 'css/rkit-navmenu.css' %}" media="all">
	<link rel="stylesheet" id="rkit-search-style-css" href="{% static 'css/search.css' %}" media="all">
	<link rel="stylesheet" id="rkit-sitelogo-style-css" href="{% static 'css/site_logo.css' %}" media="all">
	<link rel="stylesheet" id="rkit-post-grid-style-css" href="{% static 'css/rkit-blog-post.css' %}" media="all">
	<link rel="stylesheet" id="rkit-post-block-style-css" href="{% static 'css/rkit-post-block.css' %}" media="all">
	<link rel="stylesheet" id="rkit-cta-style-css" href="{% static 'css/cta.css' %}" media="all">
	<link rel="stylesheet" id="rkit-blockquote-css" href="{% static 'css/blockquote.css' %}" media="all">
	<link rel="stylesheet" id="rkit-social-share-css" href="{% static 'css/social_share.css' %}" media="all">
	<link rel="stylesheet" id="rkit-team-style-css" href="{% static 'css/rkit_team.css' %}" media="all">
	<link rel="stylesheet" id="rkit-running_text-style-css" href="{% static 'css/running_text.css' %}" media="all">
	<link rel="stylesheet" id="rkit-animated_heading-style-css" href="{% static 'css/animated_heading.css' %}" media="all">
	<link rel="stylesheet" id="rkit-card_slider-style-css" href="{% static 'css/card_slider.css' %}" media="all">
	<link rel="stylesheet" id="rkit-accordion-style-css" href="{% static 'css/accordion.css' %}" media="all">
	<link rel="stylesheet" id="rkit-testimonial_carousel-style-css" href="{% static 'css/testimonial_carousel.css' %}" media="all">
	<link rel="stylesheet" id="rkit-swiper-css" href="{% static 'css/swiper-bundle.min.css' %}" media="all">
	<link rel="stylesheet" id="rkit-tabs-style-css" href="{% static 'css/tabs.css' %}" media="all">
	<link rel="stylesheet" id="rkit-progress-style-css" href="{% static 'css/progress-bar.css' %}" media="all">
	<link rel="stylesheet" id="counter-style-css" href="{% static 'css/counter.css' %}" media="all">
	<link rel="stylesheet" id="countdown-style-css" href="{% static 'css/countdown.css' %}" media="all">
	<link rel="stylesheet" id="rkit-pricelist-style-css" href="{% static 'css/pricelist.css' %}" media="all">
	<link rel="stylesheet" id="advanced_heading-style-css" href="{% static 'css/advanced_heading.css' %}" media="all">
	<link rel="stylesheet" id="image_comparison-style-css" href="{% static 'css/image_comparison.css' %}" media="all">
	<link rel="stylesheet" id="rkit-client_carousel-style-css" href="{% static 'css/client_carousel.css' %}" media="all">
	<link rel="stylesheet" id="postlist-style-css" href="{% static 'css/postlist.css' %}" media="all">
	<link rel="stylesheet" id="pricebox-style-css" href="{% static 'css/pricingbox.css' %}" media="all">
	<link rel="stylesheet" id="rkit-image_box-style-css" href="{% static 'css/image_box.css' %}" media="all">
	<link rel="stylesheet" id="rkit-image_accordion-style-css" href="{% static 'css/image_accordion.css' %}" media="all">
	<link rel="stylesheet" id="rkit-dual_button-style-css" href="{% static 'css/dual_button.css' %}" media="all">
	<link rel="stylesheet" id="price_list-style-css" href="{% static 'css/price_list.css' %}" media="all">
	<link rel="stylesheet" id="rkit-image_gallery-style-css" href="{% static 'css/image_gallery.css' %}" media="all">
	<link rel="stylesheet" id="rkit-home-slider-style-css" href="{% static 'css/home_slider.css' %}" media="all">
	<link rel="stylesheet" id="rkit-woo_product_grid-style-css" href="{% static 'css/woo_product_grid.css' %}" media="all">
	<link rel="stylesheet" id="elementor-icons-rtmicon-css" href="{% static 'css/rtmicons.css' %}" media="all">
	<link rel="stylesheet" id="rkit-widget-style-css" href="{% static 'css/rkit.css' %}" media="all">
	<link rel="stylesheet" id="hfe-style-css" href="{% static 'css/header-footer-elementor.css' %}" media="all">
	<link rel="stylesheet" id="elementor-frontend-css" href="{% static 'css/frontend.min.css' %}" media="all">
	<link rel="stylesheet" id="elementor-post-6-css" href="{% static 'css/post-6.css' %}" media="all">
	<link rel="stylesheet" id="e-animation-fadeInUp-css" href="{% static 'css/fadeInUp.min.css' %}" media="all">
	<link rel="stylesheet" id="widget-text-editor-css" href="{% static 'css/widget-text-editor.min.css' %}" media="all">
	<link rel="stylesheet" id="e-animation-bounceInUp-css" href="{% static 'css/bounceInUp.min.css' %}" media="all">
	<link rel="stylesheet" id="e-animation-fadeIn-css" href="{% static 'css/fadeIn.min.css' %}" media="all">
	<link rel="stylesheet" id="widget-image-css" href="{% static 'css/widget-image.min.css' %}" media="all">
	<link rel="stylesheet" id="widget-image-box-css" href="{% static 'css/widget-image-box.min.css' %}" media="all">
	<link rel="stylesheet" id="swiper-css" href="{% static 'css/swiper.min.css' %}" media="all">
	<link rel="stylesheet" id="mediaelement-css" href="{% static 'css/mediaelementplayer-legacy.min.css' %}" media="all">
	<link rel="stylesheet" id="wp-mediaelement-css" href="{% static 'css/wp-mediaelement.min.css' %}" media="all">
	<link rel="stylesheet" id="elementor-post-11-css" href="{% static 'css/post-11.css' %}" media="all">
	<link rel="stylesheet" id="elementor-post-101-css" href="{% static 'css/post-101.css' %}" media="all">
	<link rel="stylesheet" id="elementor-post-151-css" href="{% static 'css/post-151.css' %}" media="all">
	<link rel="stylesheet" id="cute-alert-css" href="{% static 'css/style.css' %}" media="all">
	<link rel="stylesheet" id="text-editor-style-css" href="{% static 'css/text-editor.css' %}" media="all">
	<link rel="stylesheet" id="hello-elementor-css" href="{% static 'css/style.min.css' %}" media="all">
	<link rel="stylesheet" id="hello-elementor-theme-style-css" href="{% static 'css/theme.min.css' %}" media="all">
	<link rel="stylesheet" id="hfe-elementor-icons-css" href="{% static 'css/elementor-icons.min.css' %}" media="all">
	<link rel="stylesheet" id="hfe-icons-list-css" href="{% static 'css/widget-icon-list.min.css' %}" media="all">
	<link rel="stylesheet" id="hfe-social-icons-css" href="{% static 'css/widget-social-icons.min.css' %}" media="all">
	<link rel="stylesheet" id="hfe-social-share-icons-brands-css" href="{% static 'css/brands.css' %}" media="all">
	<link rel="stylesheet" id="hfe-social-share-icons-fontawesome-css" href="{% static 'css/fontawesome.css' %}" media="all">
	<link rel="stylesheet" id="hfe-nav-menu-icons-css" href="{% static 'css/solid.css' %}" media="all">
	<link rel="stylesheet" id="ekit-widget-styles-css" href="{% static 'css/widget-styles.css' %}" media="all">
	<link rel="stylesheet" id="ekit-responsive-css" href="{% static 'css/responsive.css' %}" media="all">
	<link rel="stylesheet" id="google-fonts-1-css" href="assets/css" media="all">
	<link rel="stylesheet" id="elementor-icons-ekiticons-css" href="{% static 'css/ekiticons.css' %}" media="all">
	<link rel="stylesheet" id="elementor-icons-rtmicons-css" href="{% static 'css/rtmicon-regular.css' %}" media="all">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <script src="{% static 'js/jquery.min.js' %}" id="jquery-core-js"></script>
	<script src="{% static 'js/jquery-migrate.min.js' %}" id="jquery-migrate-js"></script>
	<script id="jquery-js-after">
		!function ($) { "use strict"; $(document).ready(function () { $(this).scrollTop() > 100 && $(".hfe-scroll-to-top-wrap").removeClass("hfe-scroll-to-top-hide"), $(window).scroll(function () { $(this).scrollTop() < 100 ? $(".hfe-scroll-to-top-wrap").fadeOut(300) : $(".hfe-scroll-to-top-wrap").fadeIn(300) }), $(".hfe-scroll-to-top-wrap").on("click", function () { $("html, body").animate({ scrollTop: 0 }, 300); return !1 }) }) }(jQuery);
	</script>
	<script src="{% static 'js/card_slider.js' %}" id="card-slider-script-js"></script>
	<script src="{% static 'js/animated_heading.js' %}" id="animated-heading-script-js"></script>
	<script src="{% static 'js/accordion.js' %}" id="accordion-script-js"></script>
	<script src="{% static 'js/bar_chart.js' %}" id="bar_chart-script-js"></script>
	<script src="{% static 'js/line_chart.js' %}" id="line_chart-script-js"></script>
	<script src="{% static 'js/pie_chart.js' %}" id="pie_chart-script-js"></script>
	<script src="{% static 'js/swiper-bundle.min.js' %}" id="swiperjs-js"></script>
	<script src="{% static 'js/template-kit-export-public.js' %}" id="template-kit-export-js"></script>
	<script src="{% static 'js/wp-emoji-release.min.js' %}" defer=""></script>
</head>
<body class="home page-template-default page page-id-11 wp-custom-logo wp-embed-responsive ehf-header ehf-footer ehf-template-hello-elementor ehf-stylesheet-hello-elementor theme-default elementor-default elementor-kit-6 elementor-page elementor-page-11 e--ua-blink e--ua-chrome e--ua-webkit" data-elementor-device-mode="desktop">
    <div id="page" class="hfeed site">
        <header id="masthead" itemscope="itemscope" itemtype="#">
            {% include 'base/navbar.html' %} 
       </header>
    </div>
</body>
</html>