{% load static %}
<p class="main-title bhf-hidden" itemprop="headline"><a href="#" title="NuraCare" rel="home">NuraCare </a></p>
<div data-elementor-type="wp-post" data-elementor-id="101" class="elementor elementor-101">
    <div class="elementor-element elementor-element-5c09150 e-flex e-con-boxed e-con e-parent e-lazyloaded"
        data-id="5c09150" data-element_type="container"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-cb5e803 elementor-widget-tablet__width-initial elementor-widget__width-initial elementor-widget elementor-widget-image"
                data-id="cb5e803" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container">
                    <a href="#">
                        <img width="294" height="53" src="{% static 'imgs/cropped-Logo-harmony-2.png' %}"
                            class="attachment-full size-full wp-image-1072" alt=""> </a>
                </div>
            </div>

            <div class="elementor-element elementor-element-f03421a e-con-full e-flex e-con e-child" data-id="f03421a"
                data-element_type="container">
                <div class="elementor-element elementor-element-c932c11 elementor-widget-mobile__width-initial elementor-hidden-tablet elementor-hidden-mobile elementor-align-center elementor-widget elementor-widget-elementskit-button"
                    data-id="c932c11" data-element_type="widget" data-widget_type="elementskit-button.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="ekit-btn-wraper">
                                <a href="#" class="elementskit-btn  whitespace--normal" id="">
                                    Login </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>