{% extends 'base/accounts_base_form.html' %}  

{% block content %} 
<a href="/" class="back-to-home" style="position: absolute; top: 10px; left: 10px; margin: 10px; padding: 5px;">
    <i class="fas fa-arrow-left"></i>
    Back to Home
</a>
<div class="d-flex justify-content-center align-items-center vh-100">     
    <div class="col-12 col-lg-5">         
        <div class="row my-3">             
            <div class="col-sm-10 col-xl-8 m-auto">
                <!-- Form Container with Shadow -->
                <div class="card border-0 p-3 shadow-sm" style="border-radius: 12px; margin: 15px 0;">
                    <!-- Title -->                 
                    <h1 class="fs-4 text-center mb-2">Welcome Back!</h1>                 
                    <p class="small mb-3 text-center">Please log in with your account</p>                  
                    <!-- Form START -->                 
                    <form>                     
                        <!-- Email -->                     
                        <div class="mb-3">                         
                            <label for="exampleInputEmail1" class="form-label small">Email address *</label>                         
                            <div class="input-group input-group-sm">                             
                                <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3">
                                    <i class="bi bi-envelope-fill"></i>
                                </span>                             
                                <input type="email" class="form-control border-0 bg-light rounded-end ps-1" placeholder="E-mail" id="exampleInputEmail1">                         
                            </div>                     
                        </div>                     
                        <!-- Password -->                     
                        <div class="mb-3">                         
                            <label for="inputPassword5" class="form-label small">Password *</label>                         
                            <div class="input-group input-group-sm">                             
                                <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3">
                                    <i class="fas fa-lock"></i>
                                </span>                             
                                <input type="password" class="form-control border-0 bg-light rounded-end ps-1" placeholder="Password" id="inputPassword5">                         
                            </div>                         
                            <div id="passwordHelpBlock" class="form-text small mt-1" style="font-size: 0.7rem;">
                                Your password must be at least 8 characters
                            </div>                     
                        </div>                     
                        <!-- Check box -->                     
                        <div class="mb-3 d-flex justify-content-between">                         
                            <div class="form-check">                             
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">                             
                                <label class="form-check-label" style="font-size: 0.75rem;" for="exampleCheck1">Remember me</label>                         
                            </div>                         
                            <div class="text-primary-hover">                             
                                <a href="forgot-password.html" class="text-secondary" style="font-size: 0.75rem;">
                                    <u>Forgot password?</u>
                                </a>                         
                            </div>                     
                        </div>                     
                        <!-- Button -->                     
                        <div class="d-grid mt-3 mb-2">                         
                            <button class="btn btn-primary btn-sm py-1" type="button">Login</button>                     
                        </div>                 
                    </form>                 
                    <!-- Form END -->                  
                    <!-- Sign up link -->                 
                    <div class="mt-2 text-center">                     
                        <span style="font-size: 0.75rem;">Don't have an account? <a href="{% url 'register' %}">Signup here</a></span>                 
                    </div>
                </div> <!-- Card END -->
            </div>         
        </div> <!-- Row END -->     
    </div> 
</div>
{% endblock content %}